{
  "env": {
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "quotes": [2, "single", "avoid-escape"],
    "eol-last": 2,
    "curly": [2, "multi"],
    "no-use-before-define": [2, "nofunc"]
  }
}
